<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <li sec:authorize="isAnonymous()">
        <form th:action="@{/authorization}" method="post" class="form-horizontal">
            <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-6 controls">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit" class="btn btn-primary">Авторизоваться</button>
                </div>
            </div>
        </form>
    </li>
    <li sec:authorize="isAuthenticated()">
        <span th:text="${#authentication.principal.username}"></span>
        <form th:action="@{/logout}" method="post" class="form-horizontal">
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    </li>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"/>
                </p>
                <a th:href="@{'/products/delete/' + ${product.id}}" th:text="Удалить"/>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <form th:action="@{/products/add}" method="get" class="form-horizontal">
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-primary">Добавить товар</button>
            </div>
        </div>
    </form>

    <form th:action="@{/products}" method="get">
        <span>Фильтровать по названию...</span>
        <input th:value="${partOfName != null} ? ${partOfName}" name="partOfName" />
        </p>
        <span>Минимальная цена</span>
        <input th:value="${minPrice != null} ? ${minPrice}" name="minPrice"/>
        </p>
        <span>Максимальная цена</span>
        <input th:value="${maxPrice != null} ? ${maxPrice}" name="maxPrice"/>
        </p>
        <button type="submit">Отфильтровать</button>
        <a th:href="@{/products/?page=1&(partOfName=${partOfName}, minPrice=${minPrice}, maxPrice=${maxPrice})}">1</a>
        <a th:href="@{/products/?page=2&(partOfName=${partOfName}, minPrice=${minPrice}, maxPrice=${maxPrice})}">2</a>
        <a th:href="@{/products/?page=3&(partOfName=${partOfName}, minPrice=${minPrice}, maxPrice=${maxPrice})}">3</a>
        <a th:href="@{/products/?page=4&(partOfName=${partOfName}, minPrice=${minPrice}, maxPrice=${maxPrice})}">4</a>
        <a th:href="@{/products/?page=5&(partOfName=${partOfName}, minPrice=${minPrice}, maxPrice=${maxPrice})}">5</a>

    </form>
</div>
</body>
</html>